body{
    min-height: 100vh;
    background-color: lightgrey;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: auto;
}
.title-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size:4.5rem;
    color: darkgray;
}
.form-section-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.input-label-wrapper{
    display: flex;
    justify-content: space-between;
}
label{
    font-size: 1.5rem;
}
input{
    width: 70%;
    padding: 0.5rem 0.5rem;
    background-color: darkgray;
    border: 1px solid lightgray;
    border-radius: 0.3rem;
}
.button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type=submit]{
    padding: 1rem 2rem;
    color: lightgray;
    font-size: 2rem;
}
input[type=submit]:hover{
    transform: translate(1px ,1px);
}